@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";

@layer base {
    h1 {
        font-size: 2.0325rem;
    }
    h2 {
        font-size: 1.626rem;
    }

    h3 {
        font-size: 1.42275rem;
    }
    h4 {
        font-size: 1.2195rem;
    }
    h5 {
        font-size: 1.01625rem;
    }
    h6 {
        font-size: 0.813rem;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="tex"]),
input:not([type="checkbox"]):not([type="radio"]):not([type="tex"]):focus,
input:not([type="checkbox"]):not([type="radio"]):not([type="tex"]):active,
textarea,
textarea:focus,
textarea:active {
    border: none;
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.otp-input {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    text-align: center;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
    background-color: red;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-input::placeholder {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
